@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_blackit.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_boldit.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima-Nova';
  src: url('./assets/fonts/proxima-nova/proximanova_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
}